<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Name</th>
        <th scope="col">Controls</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>
            
            <input type="button" style="margin: 2.5pt;" class="btn btn-primary" value="Edit">
            <input type="button" style="margin: 2.5pt;" class="btn btn-danger" value="Delete">
            
        </td>
      </tr>
    </tbody>
  </table>
