<ng-template [ngIf]="!createMode" [ngIfElse]="CreateTemplate">
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Name</th>
        <th scope="col">Controls</th>
        <th scope="col">
          <input type="button" class="btn btn-success" value="Create new"
           (click)="changeCreateMode()">
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let categ of categories">
      <ng-template [ngIf]="categ!=selectedCategory" [ngIfElse]="EditTemplate">
      <tr>
        <td>{{getCountryName(categ.id)}}</td>
        <td>{{categ.name}}</td>
        <td>
          <input type="button" style="margin: 2.5pt;" class="btn btn-primary" value="Edit" (click)="selectCategory(categ)">
          <input type="button" style="margin: 2.5pt;" class="btn btn-danger" value="Delete" (click)="deleteCategory(categ.id)">
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</ng-template>

<ng-template #CreateTemplate>
  
  <div class="form-group">
    <label for="countrySelect">Select country</label>
    <div *ngIf="countryControl.invalid  && countryControl.touched ">
      <div style="display:inline-block">
        <label  for="countrySelect" class="alert alert-danger">Country can't be empty</label>
      </div>
    </div>
    <div>
      <div style="display:inline-block">
        <select class="form-control" id="countrySelect" [formControl]="countryControl">
          <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div *ngIf="nameControl.invalid  && nameControl.touched ">
      <div style="display:inline">
        <label  for="createName" class="alert alert-danger">Name can't be empty</label>
      </div>
    </div>
    <div>
      <div style="display:inline">
        <input class="form-control" id="createName" placeholder="Category name"  type="text" [formControl]="nameControl">
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="button" style="margin:5pt" class="btn btn-success" value="Add" (click)="createCategory()">
    <input type="button" style="margin:5pt" class="btn btn-danger" value="Cansel" (click)="changeCreateMode()">
  </div>

</ng-template>

<ng-template #EditTemplate>
  <tr>
    <td>
      
    <select id="editCountry" [formControl]="countryControl" >
    <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
    </select>
    </td>
    <td>
      <div *ngIf="nameControl.invalid  && nameControl.touched ">
          <div style="display:inline-block">
            <label  for="editName" class="alert alert-danger" >
            Name can't be empty</label>
          </div>
      </div>
      <div>
          <div style="display:inline-block">
            <input type="text" id="editName" [formControl]="nameControl">
          </div>
      </div>
    
    </td>
    <td>
      <input type="button" style="margin: 2.5pt;" class="btn btn-success" value="Save" (click)="saveEdit()">
      <input type="button" style="margin: 2.5pt;" class="btn btn-danger" value="Cansel" (click)="cancelEdit()">
    </td>
  </tr>
</ng-template>

