#Ignore environment
venv/
scrapper_env/
catalog_env/


#Ignore compiled Py files
__pycache__/


#Ignore database files
migrations/
*.sqlite3


#Ignore images in static folder
Django_Server/static/images/coin_images/*
!Django_Server/static/images/coin_images/README.md
