#Ignore environment
venv/
scrapper_env/
catalog_env/


#Ignore compiled Py files
__pycache__/


#Ignore database files
migrations/
*.sqlite3


#Ignore images in scrapper
*.gif
*.png
*.jpg
*.zip
!scrapper/img/README.md
