<form style="padding: 10pt;" name="frm" (ngSubmit)="onSubmit()">
    <div class="form-group" style="margin: 10pt; padding: 10pt;">
      <label *ngIf="login.invalid && login.touched " for="login" class="alert alert-danger" >
        Login can't be empty</label>
      <input id="login" class="form-control" type="text" placeholder="Login" [formControl]="login"
      required >
      
    </div>
    <div class="form-group" style="margin: 10pt; padding: 10pt;">
     
      <label *ngIf="password.invalid  && password.touched " for="password" class="alert alert-danger">
        Password can't be empty</label>
      <input id = "password" type="password" class="form-control" placeholder="Password"
      [formControl]="password" required
      >
      
    </div>
    <div class="form-group" style="margin: 10pt; padding: 10pt;">
     
     
      <button type="submit" class="btn btn-primary"  title="Login">Login</button>
    </div>
  </form>
  <label for="frm" class="alert alert-danger" *ngIf="error">Wrong login or password</label> 
  
