<ng-template [ngIf]="!createMode" [ngIfElse]="CreateTemplate">
  <div class="form-group">
    <input type="button" class="btn btn-success" value="Create new"
    (click)="changeCreateMode()">
  </div>
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Region</th>
            <th scope="col">Name</th>
            <th scope="col">Controls</th>
            
          </tr>
        </thead>
        <tbody *ngFor="let country of countries">
          <ng-template [ngIf]="country!=selectedCountry" [ngIfElse]="EditTemplate">
          <tr>
            <td>{{getRegionName(country.region)}}</td>
            <td>{{country.name}}</td>
            <td>
              <input type="button" style="margin: 2.5pt;" class="btn btn-primary" value="Edit" (click)="selectCountry(country)">
              <input type="button" style="margin: 2.5pt;" class="btn btn-danger" value="Delete" (click)="deleteCountry(country.id)">
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
</ng-template>

<ng-template #CreateTemplate>
    <div class="form-group">
        <label for="countrySelect">Select region</label>
        <div *ngIf="regionControl.invalid  && regionControl.touched">
          <select class="form-control is-invalid" id="categorySelect" [formControl]="regionControl">
            <option *ngFor="let region of regions"
            [ngValue]="region.id">{{region.name}}</option>
          </select>
          <label class="invalid-feedback" for="regionSelect">
            Region can't be empty
          </label>
        </div>
        <div *ngIf="regionControl.valid  || regionControl.untouched">
          
            <select class="form-control" id="regionSelect" [formControl]="regionControl">
              <option *ngFor="let region of regions" [ngValue]="region.id">{{region.name}}</option>
            </select>
          
        </div>
      </div>
    
      <div class="form-group">
        <div *ngIf="nameControl.invalid  && nameControl.touched ">
          <input class="form-control is-invalid" id="createName" placeholder="Country name"  type="text"
            [formControl]="nameControl"> 
            <label class="invalid-feedback" for="createName">
              Country name can't be empty
            </label> 
        </div>
        <div *ngIf="nameControl.valid  || nameControl.untouched ">
         
            <input class="form-control" id="createName" placeholder="Country name"  type="text" [formControl]="nameControl">
          
        </div>
      </div>
    
      <div class="form-group">
        <input type="button" style="margin:5pt" class="btn btn-success" value="Add" (click)="createCountry()"
        [disabled]="nameControl.invalid || regionControl.invalid">
        <input type="button" style="margin:5pt" class="btn btn-danger" value="Cansel" (click)="changeCreateMode()">
      </div>
</ng-template>

<ng-template #EditTemplate>
    <tr>
        <td>
        <select id="editRegion" [formControl]="regionControl" >
        <option *ngFor="let region of regions" [ngValue]="region.id">{{region.name}}</option>
        </select>
        </td>
        <td>
          <div *ngIf="nameControl.invalid  && nameControl.touched ">
            <input class="form-control is-invalid" id="createName" placeholder="Country name"  type="text"
              [formControl]Name="nameControl"> 
              <label class="invalid-feedback" for="createName">
                Country name can't be empty
              </label> 
          </div>
          <div *ngIf="nameControl.valid  || nameControl.untouched ">
              
                <input type="text" placeholder="Country name" id="editName" [formControl]="nameControl">
              
          </div>
        
        </td>
        <td>
          <input type="button" style="margin: 2.5pt;" class="btn btn-success" value="Save" (click)="saveEdit()"
          [disabled]="nameControl.invalid || regionControl.invalid">
          <input type="button" style="margin: 2.5pt;" class="btn btn-danger" value="Cansel" (click)="cancelEdit()">
        </td>
      </tr>
</ng-template>
