<ng-template [ngIf]="!createMode" [ngIfElse]="CreateTemplate">
    <div class="form-group">
      <input type="button" class="btn btn-success" value="Create new"
      (click)="changeCreateMode()">
    </div>
      <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Collection</th>
              <th scope="col">Minted by</th>
              <th scope="col">Author</th>
              <th scope="col">Sculptor</th>
              <th scope="col">Controls</th>
            </tr>
          </thead>
          <tbody *ngFor="let coin of coins">
            <ng-template [ngIf]="coin!=selectedCoin" [ngIfElse]="EditTemplate">
            <tr>
              <td>{{coin.name}}</td>
              <td>{{getCollectionName(coin.collection)}}</td>
              <td>{{getMintedByName(coin.mintedBy)}}</td>
              <td>{{getAuthorName(coin.author)}}</td>
              <td>{{getSculptorName(coin.sculptor)}}</td>
              <td>
                <input type="button" style="margin: 2.5pt;" class="btn btn-primary" value="Edit" (click)="selectCoin(coin)">
                <input type="button" style="margin: 2.5pt;" class="btn btn-danger" value="Delete" (click)="deleteCoin(coin.id)">
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>    
  </ng-template>
  
  <ng-template #CreateTemplate>
    
      <div *ngIf="coinInfo.length>0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" >Styles</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav" *ngFor="let item of coinInfo; index as i">
              <li class="nav-item">
                <input type="button" class="btn btn-dark" (click) = "showCoinById(i)" value={{i+1}}> <span class="sr-only">(current)</span>
              </li>
            </ul>
          </div>
        </nav>    
      </div>  
    
        <form class="form-group" [formGroup]="coinGroup">
          <div *ngIf="coinGroup.controls['nameControl'].invalid  && coinGroup.controls['nameControl'].touched ">
            <input class="form-control is-invalid" id="createName" placeholder="Coin name"  type="text" formControlName="nameControl">
              <label class="invalid-feedback" for="createName">
                Name can't be empty
              </label>
          </div>
          <div *ngIf="coinGroup.controls['nameControl'].valid  || coinGroup.controls['nameControl'].untouched">
            <div style="display:inline">
              <input class="form-control" id="createName" placeholder="Coin name"  type="text" formControlName="nameControl">
            </div>
          </div>

          <div class="form-row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="collectionSelect">Choose the collection</label>
                <div *ngIf="coinGroup.controls['collectionControl'].invalid  && coinGroup.controls['collectionControl'].touched">
                  <select class="form-control is-invalid" id="collectionSelect" formControlName="collectionControl">
                    <option *ngFor="let collection of collections"
                    [ngValue]="collection.id">{{collection.name}}</option>
                  </select>
                  <label class="invalid-feedback" for="collectionSelect">
                    Collection can't be empty
                  </label>  
                </div>
                <div class="form-group">
                  <div *ngIf="coinGroup.controls['collectionControl'].valid  || coinGroup.controls['collectionControl'].untouched">
                    <select class="form-control" id="collectionSelect" formControlName="collectionControl">
                      <option *ngFor="let collection of collections"
                      [ngValue]="collection.id">{{collection.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="mintedBySelect">Choose the place of minting</label>
                <div *ngIf="coinGroup.controls['mintedByControl'].invalid  && coinGroup.controls['mintedByControl'].touched">
                  <select class="form-control is-invalid" id="mintedBySelect" formControlName="mintedByControl">
                    <option *ngFor="let mnt of mintedBy"
                    [ngValue]="mnt.id">{{mnt.name}}</option>
                  </select> 
                  <label class="invalid-feedback" for="mintedBySelect">
                    Place of minting can't be empty
                  </label>  
                </div>
                <div class="form-group">
                  <div *ngIf="coinGroup.controls['mintedByControl'].valid  || coinGroup.controls['mintedByControl'].untouched">
                    <select class="form-control" id="mintedBySelect" formControlName="mintedByControl">
                      <option *ngFor="let mnt of mintedBy"
                      [ngValue]="mnt.id">{{mnt.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div> 

            <div class="col-md-6">
              <div class="form-group">
                <label for="authorSelect">Choose the author</label>
                <div *ngIf="coinGroup.controls['authorControl'].invalid  && coinGroup.controls['authorControl'].touched">
                  <select class="form-control is-invalid" id="authorSelect" formControlName="authorControl">
                    <option *ngFor="let author of authors"
                    [ngValue]="author.id">{{author.name}}</option>
                  </select>
                  <label class="invalid-feedback" for="authorSelect">
                    Author can't be empty
                  </label>    
                </div>
              <div class="form-group ">
                  <div *ngIf="coinGroup.controls['authorControl'].valid  || coinGroup.controls['authorControl'].untouched">
                    <select class="form-control" id="authorSelect" formControlName="authorControl">
                      <option *ngFor="let author of authors"
                      [ngValue]="author.id">{{author.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

          <div class="col-md-6">  
            <div class="form-group">
              <label for="sculptorSelect">Choose the sculptor</label>
              <div *ngIf="coinGroup.controls['sculptorControl'].invalid  && coinGroup.controls['sculptorControl'].touched">
                <select class="form-control is-invalid" id="sculptorSelect" formControlName="sculptorControl">
                  <option *ngFor="let sculptor of sculptors"
                  [ngValue]="sculptor.id">{{sculptor.name}}</option>
                </select>
                <label class="invalid-feedback" for="sculptorSelect">
                  Sculptor can't be empty
                </label>      
              </div>
              <div class="form-group ">
                <div *ngIf="coinGroup.controls['sculptorControl'].valid  || coinGroup.controls['sculptorControl'].untouched">
                  <select class="form-control" id="sculptorSelect" formControlName="sculptorControl">
                    <option *ngFor="let sculptor of sculptors"
                    [ngValue]="sculptor.id">{{sculptor.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        
          

          <div class="form-row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="shapeSelect">Choose the shape</label>
                <div *ngIf="coinGroup.controls['shapeControl'].invalid  && coinGroup.controls['shapeControl'].touched">
                  <select class="form-control is-invalid" id="shapeSelect" formControlName="shapeControl">
                    <option *ngFor="let shape of shapes"
                    [ngValue]="shape.id">{{shape.name}}</option>
                  </select>
                  <label class="invalid-feedback" for="shapeSelect">
                    Shape can't be empty
                  </label>
                </div>
                <div *ngIf="coinGroup.controls['shapeControl'].valid  || coinGroup.controls['shapeControl'].untouched">
                  <select class="form-control" id="shapeSelect" formControlName="shapeControl">
                    <option *ngFor="let shape of shapes"
                    [ngValue]="shape.id">{{shape.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="qualitySelect">Choose the quality</label>
                <div *ngIf="coinGroup.controls['qualityControl'].invalid  && coinGroup.controls['qualityControl'].touched">
                  <select class="form-control is-invalid" id="qualitySelect" formControlName="qualityControl">
                    <option *ngFor="let quality of qualities"
                    [ngValue]="quality.id">{{quality.name}}</option>
                  </select>
                  <label class="invalid-feedback" for="qualitySelect">
                   Quality can't be empty
                  </label>
                </div>
                <div *ngIf="coinGroup.controls['qualityControl'].valid  || coinGroup.controls['qualityControl'].untouched">
                    <select class="form-control" id="qualitySelect" formControlName="qualityControl">
                      <option *ngFor="let quality of qualities"
                      [ngValue]="quality.id">{{quality.name}}</option>
                    </select>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="edgeSelect">Choose the edge</label>
                <div  *ngIf="coinGroup.controls['edgeControl'].invalid  && coinGroup.controls['edgeControl'].touched">
                  <select class="form-control is-invalid" id="edgeSelect" formControlName="edgeControl">
                    <option *ngFor="let edge of edges"
                    [ngValue]="edge.id">{{edge.name}}</option>
                  </select>
                  <label class="invalid-feedback" for="edgeSelect">
                    Edge can't be empty
                   </label>  
                </div>
                <div class="form-group" *ngIf="coinGroup.controls['edgeControl'].valid  || coinGroup.controls['edgeControl'].untouched">
                  <select class="form-control" id="edgeSelect" formControlName="edgeControl">
                    <option *ngFor="let edge of edges"
                    [ngValue]="edge.id">{{edge.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="materialSelect">Choose the material</label>
                <div *ngIf="coinGroup.controls['materialControl'].invalid  && coinGroup.controls['materialControl'].touched">
                  <select class="form-control is-invalid" id="materialSelect" formControlName="materialControl">
                    <option *ngFor="let material of materials"
                    [ngValue]="material.id">{{material.name}}</option>
                  </select>
                  <label class="invalid-feedback" for="materialSelect">
                    Edge can't be empty
                   </label>  
                </div>
                <div class="form-group" *ngIf="coinGroup.controls['materialControl'].valid  || coinGroup.controls['materialControl'].untouched">
                    <select class="form-control" id="materialSelect" formControlName="materialControl">
                      <option *ngFor="let material of materials"
                      [ngValue]="material.id">{{material.name}}</option>
                    </select>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div *ngIf="coinGroup.controls['yearControl'].invalid  && coinGroup.controls['yearControl'].touched ">
              <input class="form-control is-invalid" id="createYear" placeholder="Year"  type="number"
              formControlName="yearControl" min="0"> 
              <label class="invalid-feedback" for="createYear">
                Year can't be empty
              </label> 
            </div>
            <div *ngIf="coinGroup.controls['yearControl'].valid  || coinGroup.controls['yearControl'].untouched ">
                <input class="form-control" id="createYear" placeholder="Year"  type="number"
                formControlName="yearControl" min="0">
            </div>
          </div>

          <div class="form-group">
            <div *ngIf="coinGroup.controls['standartControl'].invalid && coinGroup.controls['standartControl'].touched ">
              <input class="form-control is-invalid" id="createStandart" placeholder="Standart"  type="text" formControlName="standartControl">
              <label class="invalid-feedback" for="createStandart">
                Standart can't be empty
               </label>      
            </div>
            <div *ngIf="coinGroup.controls['standartControl'].valid || coinGroup.controls['standartControl'].untouched ">
                <input class="form-control" id="createStandart" placeholder="Standart"  type="text" formControlName="standartControl">
            </div>
          </div>

          <div class="form-group">
            <div *ngIf="coinGroup.controls['denominationControl'].invalid  && coinGroup.controls['denominationControl'].touched ">
              <input class="form-control is-invalid" id="createDenomination" placeholder="Denomination"  type="text" formControlName="denominationControl">
              <label  for="createDenomination" class="invalid-feedback">Denomination can't be empty</label>
            </div>
            <div *ngIf="coinGroup.controls['denominationControl'].valid  || coinGroup.controls['denominationControl'].untouched ">
                <input class="form-control" id="createDenomination" placeholder="Denomination"  type="text" formControlName="denominationControl">
            </div>
          </div>

        <div class="form-group">
          <div *ngIf="coinGroup.controls['mintageControl'].invalid  && coinGroup.controls['mintageControl'].touched ">
            <input class="form-control is-invalid" id="createMintage" placeholder="Mintage"  type="number"
            formControlName="mintageControl" min="0">
            <label  for="createMintage" class="invalid-feedback">Mintage can't be empty</label>
          </div>
          <div *ngIf="coinGroup.controls['mintageControl'].valid || coinGroup.controls['mintageControl'].untouched ">
            <input class="form-control" id="createMintage" placeholder="Mintage"  type="number"
            formControlName="mintageControl" min="0">
          </div>
        </div>

        <div class="form-group">
            <div style="display:inline">
              <input class="form-control" id="createAddName" placeholder="Additional name"  type="text" formControlName="additionalNameControl">
            </div>
        </div>
    
        <div class="form-group">
          <div style="display:inline">
            <input class="form-control" id="createKM" placeholder="Krause-Mishler catalog number"  type="number"
             formControlName="kmNumberControl" min="0">
          </div>
        </div>

        <div class="form-group" style="display: flex;">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="createRare" formControlName="rareControl">
            <label class="form-check-label" for="createRare">Is rare</label>
          </div>
        </div>

        <div class="form-group">
          <div *ngIf="coinGroup.controls['weightControl'].invalid  && coinGroup.controls['weightControl'].touched ">
            
              <input class="form-control is-invalid" id="createWeight" placeholder="Weight"  type="number"
               formControlName="weightControl" min="0">
              <label  for="createWeight" class="invalid-feedback">Weight can't be empty</label>
            
          </div>
          <div *ngIf="coinGroup.controls['weightControl'].valid  || coinGroup.controls['weightControl'].untouched">
            
              <input class="form-control" id="createWeight" placeholder="Weight"  type="number"
               formControlName="weightControl" min="0">
            
          </div>
        </div>

        <div class="form-group">
          <div *ngIf="coinGroup.controls['lengthControl'].invalid  && coinGroup.controls['lengthControl'].touched ">
            
              <input class="form-control is-invalid" id="createLength" placeholder="Length"  type="number"
               formControlName="lengthControl" min="0">
              <label  for="createLength" class="invalid-feedback">Length can't be empty</label>
            
          </div>
          <div *ngIf="coinGroup.controls['lengthControl'].valid  || coinGroup.controls['lengthControl'].untouched">
           
              <input class="form-control" id="createLength" placeholder="Length"  type="number"
               formControlName="lengthControl" min="0">
            
          </div>
        </div>

        <div class="form-group">
          <div *ngIf="coinGroup.controls['widthControl'].invalid  && coinGroup.controls['widthControl'].touched ">
            <input class="form-control is-invalid" id="createWidth" placeholder="Width"  type="number"
               formControlName="widthControl" min="0">
            <label  for="createWidth" class="invalid-feedback">Width can't be empty</label>
          </div>
          <div *ngIf="coinGroup.controls['widthControl'].valid  || coinGroup.controls['widthControl'].untouched ">
            <input class="form-control" id="createWidth" placeholder="Width"  type="number"
               formControlName="widthControl" min="0">
          </div>
        </div>

        <div class="form-group">
          <label for="note">Notes</label>
          <textarea id="note" class="form-control" cols="30" rows="10" formControlName="noteControl"></textarea>
        </div>

        <input type="file" id="frontInput" accept="image/jpeg,image/png,image/gif" style="display: none;" (change)="previewFront($event)" #frontInput>
        <input type="file" id="backInput" accept="image/jpeg,image/png,image/gif" style="display: none;" (change)="previewBack($event)" #backInput>
        <input type="file" id="edgeInput" accept="image/jpeg,image/png,image/gif" style="display: none;" (change)="previewEdge($event)" #edgeInput>

        
        <div class="form-row">
          <div class="col-md-6">
            <label for="frontImage">Front of the coin</label> 
            <div class="form-group">
              <img id="frontImage"
               class="img-thumbnail"
                width="400"
                height="400" 
                src="{{frontPath}}"
                (click)="frontInput.click()"
                >
                
            </div>
          </div>  
          
          <div class="col-md-6">
            <label >Back of the coin</label>
            <div class="form-group"> 
              <img class="img-thumbnail" width="400" height="400" src={{backPath}} (click)="backInput.click()">
              
            </div>
          </div>

          <div class="col-md-6">
            <label>Edge of the coin</label>
            <div class="form-group"> 
              <img class="img-thumbnail" width="400" height="400" src={{edgePath}} (click)="edgeInput.click()">

            </div>
          </div>
             
        </div>
        
        <div class="form-group" >
          <input type="button" style="margin:5pt" class="btn btn-success" value="Add coin" 
          [disabled]="coinGroup.invalid ">
          <input type="button" style="margin:5pt" class="btn btn-success" value="Add new style" 
          [disabled]="coinGroup.invalid " (click)="addNewStyle()">
          <input type="button" style="margin:5pt" class="btn btn-danger" value="Cansel" (click)="changeCreateMode()">
        </div>
        
            
  </form>      
  </ng-template>


  <ng-template #EditTemplate>
  </ng-template>